@import '../styles.scss';

$nav-height: 5rem;

.nav {
  max-height: $nav-height;
  background: $muted;
  width: 100%;

  .brand {
    display: flex;
    gap: 0.5rem;
    height: 100%;
    align-items: center;
    font-weight: 700;
    font-size: 1.1rem;
    padding-left: 1rem;

    img {
      height: 70%;
    }
  }

  button {
    padding-right: 0;
  }

  .github-link {
    display: flex;
    align-items: center;
    color: currentColor;
    opacity: 0.65;
    transition: opacity 0.2s;
    padding: 0 0.5rem;

    &:hover {
      opacity: 1;
    }

    svg {
      fill: currentColor;
    }
  }
}

.sidenav {
  background-color: rgba(40,40,40,0.98);
  width: 300px;

  .nav-header {
    display: flex;
    justify-content: flex-end;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.6rem;
    width: 100%;
    padding: 0.5rem;

    a {
      list-style: none;
      text-decoration: none;
      padding: 0.5rem 1rem;
      line-height: 1.5rem;
      font-size: 1.1rem;
      border-radius: 0.3rem;
      border: 1px solid #555;
      letter-spacing: 1.8;

      &.active {
        border: 2px solid $bg;
        color: $muted-text;
      }
    }
  }
}

.route-wrapper {
  background: $muted;
  min-height: calc(100vh - 7rem);
}

.footer {
  display: flex;
  justify-content: center;
  background: $surface;

  .inner {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-footer {
    .links a {
      color: $accent-2;
      margin-right: 1rem;
      text-decoration:none;
    }

    .copyright {
      opacity: 0.8;
      font-size: 0.9rem;
    }
  }
}
@media(max-width: 520px) {
  .site-footer .inner {
    flex-direction: column;
    gap: .5rem;
    text-align: center
  }
}
